[data-rk] {
  min-height: 100%;
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

/* Global Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--color1) transparent;
}
